{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">AeJin blog</h1>
    <p class="lead blog-description">The first blog created by AJ</p>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        <p>{{ article.contents }}</p>
      </div>
      <div class="comment-style">
        <hr>
        <p class="comment-title">Comments</p>
        {% for comment in article.article_comments.all %}
          <div>
            <div class="comment-inline comment-id">{{comment.username}}</div> : <div class="comment-inline">{{comment.content}}</div>
          </div>

        {% endfor %}
      </div>
      <hr>
      <div class="reply-form">
        <form class="form-inline" method="post" action="">
          {% csrf_token %}
          <div>
            <div class="form-group">
              <input placeholder="ID" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <input placeholder="내용"class="form-control" name="content" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">댓글 달기</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Hashtags</h4>
        <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li># {{hashtag}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}
